Repository Akawatmor/SKOService-Authenserver: changes, and which Woodpecker steps are due for each by the changed paths.
All: frontend-check, backend-check-and-test

frontend-check:
  image: oven/bun:1
  commands:
  - cd frontend
  - bun install --frozen-lockfile
  - bun run build

backend-check-and-test:
  image: golang:1.21-alpine
  environment:
  - DB_HOST=postgres
  - DB_PORT=5432
  - DB_USER=postgres
  - DB_PASSWORD=password
  - DB_NAME=skoservice
  - REDIS_HOST=redis
  - REDIS_PORT=6379
  - PORT=8080
  commands:
  - apk add --no-cache postgresql-client curl bash
  - cd backend
  ...

Fix Pipeline
  .woodpecker.yml
  backend/cmd/server/handlers.go
  backend/internal/auth/paseto.go
  frontend/app/admin/dashboard/page.tsx
  frontend/app/auth/callback/cloudflare/page.tsx
  frontend/app/auth/callback/github/page.tsx
  frontend/app/auth/callback/google/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/login/page.tsx
  frontend/app/register/page.tsx
  frontend/lib/api.ts
  frontend/store/authStore.ts
Due: frontend-check, backend-check-and-test

Fix Pipeline 2
  .woodpecker.yml
  backend/cmd/server/main.go
  frontend/app/admin/dashboard/page.tsx
Due: frontend-check, backend-check-and-test

Fix Frontend
  frontend/.eslintrc.json
  frontend/app/admin/dashboard/page.tsx
  frontend/app/auth/callback/cloudflare/page.tsx
  frontend/app/auth/callback/github/page.tsx
  frontend/app/auth/callback/google/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/login/page.tsx
  frontend/app/register/page.tsx
Due: frontend-check

Fix Backend 2
  .woodpecker.yml
  backend/cmd/server/handlers.go
Due: backend-check-and-test

add design_uxui directory
  design_uxui/MobileLogin.html
  design_uxui/index.html
  design_uxui/style.css
  design_uxui/vars.css
Due: none

Path conditions:
  frontend-check: any of: frontend/**
  backend-check-and-test: any of: backend/**
